<?xml version="1.0"?>
<!--
/**
 * Copyright © Above The Fray Design, Inc. All rights reserved.
 * See ATF_COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Sales::sales">
                    <resource id="ATF_Zamp::zamp" title="Zamp" translate="title" sortOrder="900">
                        <resource id="ATF_Zamp::historical_transaction" title="Historical Transactions"
                                  translate="title">
                            <resource id="ATF_Zamp::historical_transaction_sync" title="Sync" translate="title"/>
                            <resource id="ATF_Zamp::historical_transaction_sync_queue" title="Queue" translate="title"/>
                        </resource>
                    </resource>
                </resource>
                <resource id="Magento_Backend::system">
                    <resource id="Magento_Backend::system_other_settings">
                        <resource id="ATF_Zamp::transaction_log" title="Zamp Transaction Logs"
                                  translate="title"/>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
